.nav {
    background-color: #003972;
    padding: 8px 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Contenedor interno centrado */
.containerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Lista de navegación */
.containerNav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

/* Enlaces */
.containerNav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/* Hover */
.containerNav a:hover {
    background-color: #880000;
    color: white;
}

/* Enlace activo (cuando NavLink coincide con la ruta) */
.containerNav a.active {
    background-color: #3498db;
    color: white;
}
.link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #8607cf;
}

.active {
    background-color: #b7db34;
}

