.cardMovie{
    position: relative;
    margin-right: 2%;
    margin-bottom: 1.5rem;
    text-align: center;
    width: 200px;
    height: 350px;
    margin: 1px;
    cursor: pointer;
    padding: 1em;
}
.cardMovie:hover .buttons {
    opacity: 1;
}
.cardMovie:hover {
    opacity: 1;
    transform: scale(1.05);
}
.cardMovie img {
    width: 100%;
    height: auto;
    display: block;
}

.cardMovie p {
    margin: 10px 0;
}

.cardMovie .buttons {
    position: absolute;
    top: 150px;
    left: 0px;
    width: 100%;
    height: 17%;
    opacity: 0;
    transition: opacity 0.4s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;    
}


.cardMovie .buttons button {
    padding: 8px 35px;
    border: none;
    background-color: #00234e;
    color: #fafafa;
    font-weight: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 11px;
    transition: background-color 0.1s;
    opacity: 1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    filter: brightness(1);
}
.cardMovie .buttons button:hover {
    background-color: #eee;
    color: white;
    transform: scale(1.1);
    filter: brightness(1);
    box-shadow: 1 6px 18px rgba(0, 0, 0, 0.35);
    
}

.cardMovie .buttons a {
    text-decoration: none;
}

.cardMovie .buttons a button {
    width: 100%;
}